* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    width: 330px;
    height: 490px;
    border-radius: 30px;
    background-color: #303943;
    overflow: hidden;
    border: solid 1px rgb(209, 209, 209);
    box-shadow: 15px 10px 0px 5px #c9c9c933;
}

.calculator-screen {
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    border-bottom: 1px solid rgb(177, 177, 177);
    font-size: 40px;
    margin: 10px;
}

.rows {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}

button {
    width: 68px;
    height: 68px;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 10px -3px #4b392f40, -5px -5px 15px 3px #d8d5d31f;
    color: white;
}

.btn-equal {
    position: static;
    height: 140px;
}

.btn-zero {
    top: -70px;
    left: 14px;
    position: absolute;
    width: 142px;
}

.btn-point {
    position: absolute;
    top: -70px;
    right: 92px;
}

.orange {
    background-color: #c36011;
}

.gray {
    background-color: #2a303e;
}